.boxes-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
    height: 100vh;
}
  
.boxes-container header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.boxes-container header h1 {
    font: inherit;
    font-size: 21px;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #ddd;
}

.boxes-container ul {
    list-style-type: none;
    border: 1px solid #ddd;
    border-radius: 4px; 
    display: flex;
    justify-content: center;
}

.boxes-container ul li {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.boxes-container ul li:hover {
    background: #eee;
}

.boxes-container ul li span {
    margin: 5px;
}

.boxes-container ul li strong {
    color: #029;
}

.new-box {
    margin: 10px 0 20px 10px;    
}

@media(max-width: 768px) {
    .boxes-container header {
        flex-direction: column;
    }   
    
    .boxes-container header h1 {
        padding-left: 0;
        margin-left: 0;    
    }

    .boxes-container img {
        margin-bottom: 20px;
    }    
}