.file-general-container {
    padding: 10px;
    cursor: pointer;
    border-top: 1px solid #dadce0;
}  

.file-general-container:hover {
    box-shadow: inset 1px 0 0 #dadce0, 
        inset -1px 0 0 #dadce0, 
        0 1px 2px 0 rgba(60, 64, 67, .3), 
        0 1px 3px 1px rgba(60, 64, 67, .15);
}   

.file-upload-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-upload-container span {
    color: #999;
    font-size: 13px;
}

.file-container {
    display: flex;
    align-items: center;
}

.file-container a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.file-container span {
    color: #999;
    font-size: 13px;
}

.file-container-item:nth-of-type(0) {
    flex: 2;
}

.file-container-item:nth-last-of-type(1) {
    flex-basis: 30px;
    cursor: pointer;

    padding: 4px;
    padding-bottom: 0;
    text-align: center;

    border-radius: 50%;
}

.file-container-item strong {
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
    color: #333;
}

.file-delete-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-delete-container span {
    color: #999;
    font-size: 13px;
}

.file-delete-container strong {
    color: '#E36B24';
}